<!DOCTYPE html>
<html lang="en">

<head>
    <h1 style="color:black; text-align: center" ;>Analyzing Data From Contingency Tables</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style scoped>
        body {
            margin: 5px;
            background-image: url(background.jpg);
            background-size: 100%;
        }

        .grid-container {
            display: grid;
            padding: 0;
            grid-template-columns: 1fr 1fr;
            /* grid-template-rows: auto; */
            grid-template-areas:
                'input freqRelativeFreqTable'
                'contingencyDataTable contingencyResultTable'
                'graph expectedValues'
                '. .';

            grid-gap: 20px;
        }

        @media screen and (max-width: 400px) {
            .grid-container {
                /* padding: 10px; */
                padding: 0;
                min-height: min-content;
                display: grid;
                grid-template-columns: 1fr;
                /* grid-template-rows: auto; */
                grid-template-areas:
                    'input'
                    'contingencyDataTable'
                    'graph'
                    '.'
                    'freqRelativeFreqTable'
                    'contingencyResultTable'
                    'expectedValues'
                    '.';
                grid-gap: 20px;
            }
        }

        .button {
            background-color: #2fc710;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .button2 {
            background-color: rgb(30, 27, 211);
            width: 30%;
            font-size: 10px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }


        .contingencyDataTable {
            grid-area: contingencyDataTable;
        }

        .expectedValues {
            grid-area: expectedValues;
        }

        .freqRelativeFreqTable {
            grid-area: freqRelativeFreqTable;
        }

        .contingencyResultTable {
            grid-area: contingencyResultTable;
        }



        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 10px;
            font-size: 10px;
            text-align: center;
            position: relative;
        }

        .input {
            color: black;
            grid-area: input;
        }

        .graph {
            grid-area: graph;
        }

        table.table2 {
            border: 3px solid black;
            border-collapse: collapse;
            padding: 5px;
            width: 63%;
            background-color: rgb(35, 124, 212);
        }

        tr.tr2 {
            height: 50px;
            text-align: center;
        }

        table,
        th,
        tr,
        td {
            border: 3px solid black;
            border-collapse: collapse;
            padding: 5px;
            background-color: rgb(35, 124, 212);
            text-align: center;

        }
    </style>
</head>

<body>
    <div id="app" class="grid-container">
        <form class="input grid-items">
            <p style="color:black;"> <strong>Choose # of rows and cols (Max: 6 x 6 and Min: 2 x 2) </strong>
            </p>

            Rows: <br><br>
            <input type="number" v-model.number="rows" />
            <br><br>
            Columns: <br><br>
            <input type="number" v-model.number="cols" />
            <br><br>

            <button type="button" class="button button2" v-on:click="seen = !seen"><span>Why is the table one row and
                    column
                    size
                    bigger?</span></button>
            <p style="font-size:13px;" v-if="seen">Contingency Table is {{rows + 1}} x {{cols + 1}}
                because cell (0,0) is
                intentionally
                supposed to be blank</p>
        </form>



        <div class="contingencyDataTable grid-items">
            <p style="color:black;"> <strong> Enter Data Below </strong></p>
            <table>
                <tr v-for="row, r in table" :key="r">
                    <td v-for="col, c in row" :key="c">
                        <input v-if="r === 0 && c === 0 " type="text" :value="col" style="width: 7em" readonly />

                        <input v-else-if="r === 0 " type="text" :value="col" style="width: 7em" placeholder="category"
                            @input="onCellChange(r, c, $event.target.value)" />

                        <input v-else-if="c === 0 " type="text" :value="col" style="width: 7em"
                            @input="onCellChange(r, c, $event.target.value)" :placeholder="(!(c===0)) ? '' : 'group'" />

                        <input v-else type="number" style="width: 7em" :value="col"
                            @input="onCellChange(r, c, $event.target.value)" />

                    </td>
                </tr>
            </table>
            <br><br>


            <button type="button" class="button" id="alert" @click="addGraph">ANALYZE!</button>
            <br><br>
        </div>

        <div class="graph grid-items">
            <p style="color:black;"> <strong> Graphical Representation </strong></p>

            <div ref="plot" style="width:415px;"></div>

        </div>



        <div class="freqRelativeFreqTable grid-items">
            <p style="color:black;"> <strong> Frequency and Relative Frequency Table </strong></p>

            <table>
                <tr>
                    <th>
                        Variable
                    </th>
                    <th>
                        Frequency
                    </th>
                    <th>
                        Relative Freq
                    </th>
                    <th>
                        Percentage (%)
                    </th>
                </tr>
                <tr v-for="row, fr in freqTable" :key="fr">
                    <td v-for="col, fc in row" :key="fc">
                        {{col}}
                    </td>
                </tr>
            </table>

            <br><br>
            <table>
                <tr>
                    <th>
                        Variable
                    </th>
                    <th>
                        Frequency
                    </th>
                    <th>
                        Relative Freq
                    </th>
                    <th>
                        Percentage (%)
                    </th>
                </tr>
                <tr v-for="row, fr in freqTable2" :key="fr">
                    <td v-for="col, fc in row" :key="fc">
                        {{col}}
                    </td>
                </tr>
            </table>
            <br><br>
        </div>


        <div class="contingencyResultTable grid-items">
            <p style="color:black;"> <strong> The Contingency Table</strong> </p>
            <table class="table2">
                <tr class="tr2" v-for="row, cr in contingencyTable" :key="cr">
                    <td v-for="col, cc in row" :key="cc">
                        {{col}}
                    </td>
                </tr>
            </table>

        </div>
        <div class="expectedValues grid-items">
            <p style="color:black;"> <strong> Expected Value Table</strong> </p>

            <br>
            <table class="table2">
                <tr class="tr2" v-for="row, er in expectedTable" :key="er">
                    <td v-for="col, ec in row" :key="ec">
                        {{col}}
                    </td>
                </tr>
            </table>
            <br>
            <button type="button" class="button" v-on:click="chiSquaredComputed()"><span>Get chi-square</span></button>

        </div>



        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <script>
            new Vue({
                el: "#app",
                data: {
                    rows: 2,
                    cols: 2,
                    seen: false,
                    testStatistic: 7.2764,
                    dof: 3,
                    freqTableRows: 2,
                    freqTableColumns: 4,
                    freqTable: [],
                    freqTable2: [],
                    originalDataVals: [],
                    contingencyTable: [],
                    expectedTable: [],
                    groupTotals: [],
                    categoryTotals: [],

                    tableTotal: 0
                },

                computed: {
                    table() {

                        let numRow = this.rows;
                        let numCols = this.cols;
                        const _table = new Array(numRow);
                        for (let row = 0; row < numRow + 1; row++) {
                            _table[row] = new Array(numCols + 1).fill("");
                        }
                        // console.log("printing in table() rows " + numRow + " and cols " + this.cols);
                        return _table;
                    }
                },

                methods: {
                    update() {

                        let numRow = this.rows;
                        let numCols = this.cols;

                        // calculate category variables frequency
                        const categoryFreq = (col) => this.table.slice(1).reduce((s, row) => {
                            if (typeof row[col] === 'string') return s;
                            return s + row[col];
                        }, 0);

                        const categoryTotals = [];
                        for (let col = 0; col < this.cols; col++) {
                            categoryTotals.push(categoryFreq(col + 1));
                        }

                        // calculate group variables frequency
                        const groupTotals = [];
                        for (let row = 0; row < numRow; row++) {
                            groupTotals.push(
                                this.table[row + 1].slice(1).reduce((a, b) => a + b)
                            );
                        }

                        //get original data
                        const originalData = [];
                        for (let row = 0; row < numRow; row++) {
                            originalData.push(
                                this.table[row + 1].slice(1)
                            );
                        }
                        // console.log("Printing original dataaaa " + originalData)


                        // update data
                        this.categoryTotals = categoryTotals
                        this.groupTotals = groupTotals
                        this.originalDataVals = originalData
                        this.tableTotal = categoryTotals.reduce((a, b) => a + b);


                        //update expected Values
                        const _expectedValues = new Array(this.categoryTotals.length);

                        for (let i = 0; i < this.categoryTotals.length; i++) {
                            let row = []
                            for (let j = 0; j < this.groupTotals.length; j++) {
                                row.push(((this.categoryTotals[i] * this.groupTotals[j]) / this.tableTotal).toFixed(2))
                            }
                            _expectedValues[i] = row;
                            // console.log("printing expected values" + _expectedValues[i])
                        }
                        // console.log("printing expected values" + _expectedValues)


                        //transpose the expected values because they are in the wrong order for calculations currently
                        let transposedExpectedValues = [];
                        for (let i = 0; i < _expectedValues.length; ++i) {
                            for (let j = 0; j < _expectedValues[i].length; ++j) {
                                // skip undefined values to preserve sparse array
                                if (_expectedValues[i][j] === undefined) continue;
                                // create row if it doesn't exist yet
                                if (transposedExpectedValues[j] === undefined) transposedExpectedValues[j] = [];
                                // swap the x and y coords for the copy
                                transposedExpectedValues[j][i] = _expectedValues[i][j];
                            }
                        }

                        // console.log("printing transposedExpectedValues " + transposedExpectedValues);

                        //caclulate test statistic (observed - expected)^2
                        let observedValues = [];
                        for (let i = 0; i < originalData.length; i++) {
                            observedValues = [...observedValues, ...originalData[i]];
                        }
                        let expectedValuesArray = [];
                        for (let i = 0; i < transposedExpectedValues.length; i++) {
                            expectedValuesArray = [...expectedValuesArray, ...transposedExpectedValues[i]];
                        }
                        // const observedValues = [...originalData[0], ...originalData[1]];
                        // const expectedValuesArray = [..._expectedValues[0], ..._expectedValues[1]];

                        // console.log("printing [observedValues.length] " + observedValues.length + " printing observed values data " + observedValues)
                        // console.log("printing [expectedValuesArray.length] " + expectedValuesArray.length + " printing expectedValuesArray data " + expectedValuesArray)
                        let _testStatisticCalculation = [];
                        for (let i = 0; i < observedValues.length; i++) {
                            let newRow = []

                            newRow.push(
                                (Math.pow((observedValues[i] - expectedValuesArray[i]), 2) / expectedValuesArray[i]).toFixed(2))

                            _testStatisticCalculation[i] = newRow;

                        }
                        // console.log("printing testStatistic content" + _testStatisticCalculation + " and length " + _testStatisticCalculation.length)


                        //calculate sum of test statistics


                        //calculate sum of test statistics 
                        let getSum = [];

                        for (let i = 0; i < _testStatisticCalculation.length; i++) {

                            getSum = [...getSum, ..._testStatisticCalculation[i]];
                        }


                        let mapGetSum = getSum.map(parseFloat);

                        let sumOfTestValues = mapGetSum.reduce((a, b) => a + b).toFixed(2);

                        // console.log("printing sumOfTestValues " + sumOfTestValues)

                        this.testStatistic = sumOfTestValues;

                        // console.log("printing this.testStatistic " + this.testStatistic)

                        //calculate degrees of freedom
                        let degreesOfFreedom = (numRow - 1) * (numCols - 1);



                        this.dof = degreesOfFreedom;

                        // console.log("Printing this.dof " + this.dof);



                        this.expectedTable = _expectedValues

                    },
                    addGraph() {
                        const x = [];
                        const y = [];

                        let numRow = this.rows;

                        //filling up x and y
                        for (let i = 1; i < numRow + 1; i++) {
                            x.push(this.table[i][0])
                            y.push(this.table[i].slice(1).reduce((a, b) => a + b));
                        }


                        Plotly.newPlot(this.$refs.plot, [{
                            x,
                            y,
                            type: "bar"
                        }], {
                                barmode: 'stack',
                                autosize: true
                            })
                    },
                    onCellChange(row, col, value) {
                        if (!(row === 0 || col === 0)) {
                            value = Math.abs(parseFloat(value));
                        }
                        this.table[row][col] = value;
                        this.update();
                        this.updateExpectedTable();
                        this.updateFreqTable();
                        this.updateFreqTable2();
                        this.updateContingencyTable();
                        // this.originalDataValues();
                        this.$forceUpdate();
                        // alert(`${row}, ${col} = ${value}`);

                        // console.log("printing in onCellChange rows " + this.row + " and cols " + this.cols);
                    },
                    updateFreqTable() {
                        let numRow = this.rows;
                        const relFreqs = this.groupTotals.map(freq => freq / this.tableTotal);
                        const data = []; // variable | freq | relFreq | percentFreq
                        for (let row = 0; row < numRow; row++) {
                            data.push([
                                this.table[row + 1][0],
                                this.groupTotals[row],
                                relFreqs[row].toFixed(2),
                                Math.round(relFreqs[row] * 100) + "%"
                            ]);
                        }
                        this.freqTable = data;
                        // console.log("printing data" + data)
                        // console.log("printing this.freqTable" + this.freqTable)
                        // console.log("printing in updateFreqTable rows " + this.row + " and cols " + this.cols);
                    },
                    updateFreqTable2() {
                        const relFreqs = this.categoryTotals.map(freq => freq / this.tableTotal);

                        let numCols = this.cols;
                        const data = []; // variable | freq | relFreq | percentFreq
                        for (let col = 0; col < numCols; col++) {
                            data.push([
                                this.table[0][col + 1],
                                this.categoryTotals[col],
                                relFreqs[col].toFixed(2),
                                Math.round(relFreqs[col] * 100) + "%"
                            ]);
                        }
                        this.freqTable2 = data;
                    },
                    updateContingencyTable() {
                        //copy of table
                        const _table = this.table.map(row => row.slice());

                        let numRow = this.rows;

                        // console.log("Printing _table: " + _table)
                        _table.push(["Total", ...this.categoryTotals]);
                        // console.log("printing _table.length " + _table.length + " printing _table data " + _table)
                        const lastCol = ["Total", ...this.groupTotals, this.tableTotal];

                        for (let i = 0; i < numRow + 2; i++) {
                            _table[i].push(lastCol[i]);
                        }
                        this.contingencyTable = _table;
                    },
                    updateExpectedTable() {

                        // const _table = this.expectedTable.map(row => row.slice());
                        // const lastCol = [" ", " ", " "];
                        const firstRow = [...this.table.map(row => row[0])];
                        // console.log("Prining firstRow " + firstRow + " printing firstRow.length " + firstRow.length)

                        const firstCol = [...this.table[0].slice(1)];


                        // for (let i = 0; i < this.rows + 1; i++) {
                        //     _table[i].push(lastCol[i]);
                        // }
                        const _table = [firstRow];
                        let numCols = this.cols;

                        for (let i = 0; i < numCols; i++) {
                            // console.log("printing expected table with iterations " + this.expectedTable)
                            _table.push([firstCol[i], ...this.expectedTable[i]]);
                        }
                        this.expectedTable = _table;

                        // console.log("printing in updateExpectedTable rows " + this.row + " and cols " + this.cols);
                    },

                    chiSquaredComputed() {
                        // console.log("Printing this.testStatistic in chiSquared " + this.testStatistic)
                        // console.log("Printing this.dof in chiSquared " + this.dof)
                        window.alert('The chi-squared p-value is: ' + (jStat.chisquare.pdf(this.testStatistic, this.dof)).toFixed(4));
                    }
                },
                watch: {
                    rows(val) {
                        if (val > 6) {
                            this.rows = 6;
                        }
                        else if (val < 2) {
                            this.rows = 2;
                        }
                        else { this.rows = Math.abs(val); }
                    },
                    cols(val) {
                        if (val > 6) {
                            this.cols = 6;
                        }
                        else if (val < 2) {
                            this.cols = 2;
                        }
                        else { this.cols = Math.abs(val); }
                    }
                    // dataNumbers(val) {
                    //     this.dataNumbers = Math.abs(val);
                    // }
                }
            });
        </script>

</body>


</html>