<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model.number="rows" />
      <input type="number" v-model.number="cols" />

      <table>
        <tr v-for="row in rows">
          <td v-for="col in cols">
            <input
              type="number"
              @change="onCellChange(row, col, $event.target.value)"
            />
          </td>
        </tr>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          rows: 0,
          cols: 0
        },
        methods: {
          onCellChange(row, col, value) {
            value = parseFloat(value);
            alert(`${row}, ${col} = ${value}`);
          }
        }
      });
    </script>
  </body>
</html>
