.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  margin: 0px;
  clear: left;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: none;
  border-width: 40px;
  border-color: #c8b7b7;
  border-radius: 0px;
  background-color: #ea8810;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 100%;
  line-height: 100%;
}

.body-2 {
  background-color: rgba(62, 35, 36, .29);
}

.form {
  position: fixed;
  left: 5%;
  top: 10%;
  right: auto;
  bottom: auto;
  width: 250px;
  height: auto;
}

.heading {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 200vh;
  height: 50px;
  background-color: #765b5b;
  color: #faf5f5;
  font-size: 38px;
  line-height: 44px;
}

.text-field {
  position: fixed;
  left: 19%;
  top: 12%;
  right: auto;
  width: 7%;
  height: 4.5%;
}

.text-field-2 {
  position: fixed;
  left: 19%;
  top: 19%;
  width: 7%;
  height: 4.5%;
}

.text-field-3 {
  position: fixed;
  left: 19%;
  top: 43%;
  width: 7%;
  height: 4.5%;
}

.text-field-4 {
  position: fixed;
  left: 19%;
  top: 36%;
  right: 925px;
  width: 7%;
  height: 4.5%;
}

.text-field-5 {
  position: fixed;
  left: 19%;
  top: 50%;
  right: auto;
  bottom: auto;
  width: 7%;
  height: 4.5%;
}

.text-field-6 {
  position: fixed;
  left: 19%;
  top: 71%;
  right: auto;
  bottom: auto;
  width: 7%;
  height: 4.5%;
}

.text-field-7 {
  position: fixed;
  left: 19%;
  top: 64%;
  bottom: auto;
  width: 7%;
  height: 4.5%;
}

.text-field-8 {
  position: fixed;
  left: 19%;
  top: 57%;
  right: auto;
  bottom: auto;
  width: 7%;
  height: 4.5%;
}

.field-label {
  position: fixed;
  left: 5%;
  top: 44%;
  right: auto;
  width: 8%;
  margin-bottom: 0px;
}

.field-label-2 {
  position: fixed;
  left: 5%;
  top: 65%;
  right: auto;
  bottom: auto;
  width: 11%;
  margin-bottom: 0px;
}

.submit-button {
  position: fixed;
  left: 231.016px;
  top: 413px;
  right: 835.42px;
  bottom: 208px;
  height: 40px;
}

.field-label-3 {
  position: fixed;
  left: 5%;
  top: 51%;
  right: auto;
  bottom: auto;
  width: 9%;
  margin-bottom: 0px;
}

.submit-button-2 {
  position: fixed;
  right: 838.42px;
}

.submit-button-3 {
  position: fixed;
  top: 342px;
  right: 838.42px;
  bottom: 275px;
  height: 40px;
}

.div-block {
  position: fixed;
  left: auto;
  top: 15%;
  right: 8%;
  bottom: auto;
  width: 40%;
  height: 40%;
  min-width: 35%;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: -webkit-grab;
  cursor: grab;
}

.div-block-2 {
  position: fixed;
  right: 8%;
  bottom: 3%;
  width: 40%;
  height: 35%;
  background-color: #fff;
}

.heading-2 {
  position: fixed;
  top: 9%;
  right: 34%;
  bottom: auto;
  width: 75px;
  height: 30px;
  font-size: 100%;
  line-height: 100%;
}

.button {
  position: fixed;
  left: auto;
  right: 8%;
  bottom: 39%;
  width: 6%;
  height: 5%;
  font-size: 75%;
  line-height: 100%;
  text-align: left;
  cursor: pointer;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #e58510;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
  font-size: 100%;
  line-height: 100%;
}

.column {
  position: fixed;
  left: 0%;
  height: 100%;
  padding-right: auto;
  padding-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.body-3 {
  margin: 40px;
}

.grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.field-label-4 {
  position: fixed;
  left: 5%;
  top: 13%;
  width: 8%;
  margin-bottom: 0px;
}

.column-2 {
  position: fixed;
  left: 50%;
  top: auto;
  right: 50%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.text-block {
  position: fixed;
  left: 5%;
  right: auto;
  font-size: 18px;
}

.field-label-5 {
  position: fixed;
  left: 5%;
  top: 20%;
  bottom: auto;
  width: 10%;
  margin-bottom: 0px;
}

.field-label-6 {
  position: fixed;
  left: 5%;
  top: 37%;
  width: 8%;
  margin-bottom: 0px;
}

.button-2 {
  position: fixed;
  left: 19%;
  top: 78%;
  width: 7%;
  height: 5%;
  font-size: 75%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.text-block-2 {
  position: fixed;
  left: 5%;
  top: 29%;
  width: 20%;
}

@media (max-width: 991px) {
  .div-block {
    top: 14%;
    right: auto;
    width: 45%;
    height: 40%;
  }
  .div-block-2 {
    top: 60%;
    right: auto;
    bottom: auto;
    width: 45%;
    height: 35%;
  }
  .button {
    left: 88%;
    top: 55%;
    right: auto;
    bottom: auto;
    width: 7%;
    height: 3%;
    font-size: 100%;
    line-height: 10%;
    text-align: left;
  }
  .column {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }
}

@media (max-width: 479px) {
  .body {
    margin-bottom: 2px;
  }
  .columns {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .column-2 {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: ". . . ." ". . . .";
    -ms-grid-columns: 1fr 16px minmax(200px, 1fr) 16px 1fr 16px 1fr;
    grid-template-columns: 1fr minmax(200px, 1fr) 1fr 1fr;
    -ms-grid-rows: auto 16px auto;
    grid-template-rows: auto auto;
  }
}