<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confidence Intervals</title>
    <style>
        .gridcontainer {
            /* Creating the display for screen screens such as a phone */
            min-height: 100%;
            display: grid;
            grid-template:
                'input'
                'confidence-intervals'
                'sample-statistics'
        }

        @media screen and (min-width: 792px) {

            /* Creating the layout using a grid */
            .gridcontainer {
                min-height: 100%;
                display: grid;
                grid-template:
                    'input confidence-intervals''sample-statistics confidence-intervals'
            }
        }

        .size {
            max-height: 70vh;
            max-width: 70vh;
        }

        .row {
            padding: 20px;
        }

        #input {
            grid-area: input;
        }

        #confidence-intervals {
            grid-area: confidence-intervals;
        }

        #sample-statistics {
            grid-area: sample-statistics;
        }

        #pageSelection {
            cursor: pointer;
            margin: 0px;
            padding: 10px;
            text-align: center;
            border: 1px black;
            border-style: solid;
            min-width: 45%;
        }

        .selected {
            background-color: #00838F;
        }
    </style>
</head>



<body style="margin: 0;">
    <div id="app" class="gridcontainer">
        <div id="input">
            <div id="title grid-items">
                <!-- Page Title -->
                <h2 style="text-align: center; margin: 20px; padding: 25px; background-color: #00838f;">Simulating
                    Confidence Intervals
                    for Proportions</h2>

            </div>
            <div id="input grid-items" style="margin: 20px;">
                <!-- User input boxes -->
                <div class="row">Population Proportion: <input type="number" size="2" v-model="popProp"></div>
                <div class="row">Sample Size: <input type="number" size="2" v-model="sampleSize"></div>
                <div class="row">Confidence Level: <input type="number" size="2" v-model="confInt"> %</div>
                <div class="row">Number of Iterations: <input type="number" size="2" v-model="numIt"></div>
                <div class="row">
                    <button id="enter" @click="this.iterations">Enter</button>
                </div>
                <!-- displays the formula for confidence intervals -->
                <p>Formula for confidence interval: p&#770; &plusmn; z* &radic;<span
                        style="text-decoration: overline">p&#770;(1-p&#770;)/n </span> </p>
                <div v-if="hasRendered">The total of iterations that contain the population proportion is
                    {{totalSuccess}}.</div>
            </div>
        </div>

        <div id="sample-statistics">
            <div class="grid-items">
                <canvas ref="bar" width="200" height="200"></canvas>
            </div>
        </div>

        <div id="confidence-intervals">
            <!-- Displays Confidence Intervals -->
            <div class="grid-items">
                <h4>Confidence Intervals</h4>
                <!-- <div>({{lowerBound}} , {{upperBound}})</div> -->
                <canvas ref="cigraph" class="size"></canvas>
            </div>
        </div>

    </div>
    <!-- links for vue, jstat, and chartjs -->
    <script src="//cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                // Defining variables and setting default values
                allConfInt: [{}],
                lineChart: {},
                barChart: {},
                isProportions: true,
                popProp: 0.5,
                sampleSize: 30,
                confInt: 95,
                numIt: 10,
                sampleProp: 0.5,
                zScore: 1.96,
                lowerBound: 0.25,
                upperBound: 0.75,
                totalSuccess: 0,
                hasRendered: false
            },

            methods: {
                enter() {

                    let sum = 0;
                    for (let i = 0; i < this.sampleSize; i++) {
                        // generating random number to create sample proportion
                        const y = Math.random();

                        if (y < this.popProp) {
                            sum++;
                        }
                    }
                    // calculate sample statistics: sample mean, z-score, and the interval
                    this.sampleProp = sum / this.sampleSize;
                    this.zScore = jStat.normal.inv(1 - ((1 - (this.confInt / 100)) / 2), 0, 1);
                    this.lowerBound = this.sampleProp - this.zScore * Math.sqrt((this.sampleProp * (1 - this.sampleProp) / this.sampleSize))
                    this.upperBound = this.sampleProp + this.zScore * Math.sqrt((this.sampleProp * (1 - this.sampleProp) / this.sampleSize))

                },
                // total() {
                //     this.enter();
                //     for (var i = 0; i < this.numIt; i++) {
                //         if (this.lowerBound < this.popProp && this.popProp < this.upperBound) {
                //             totalSuccess++;
                //         }
                //     }
                // }

                iterations() {
                    this.hasRendered = true;
                    // Creates sample proportion for each iteration
                    this.allConfInt = [{}];
                    for (var i = 0; i < this.numIt; i++) {
                        this.enter();
                        this.allConfInt.push({ left: this.lowerBound, mid: this.sampleProp, right: this.upperBound });
                    }
                    this.ciGraph();
                },
                ciGraph() {
                    // Graphs confidence interval
                    const data = [];
                    const lines = [
                        {
                            type: "line",
                            mode: "vertical",
                            scaleID: "x-axis-1",
                            value: this.popProp,
                            borderColor: "red",
                            label: {
                                content: "Population Proportion",
                                enabled: true,
                                position: "top"
                            }
                        }
                    ]
                    var j = 1;
                    var backColor;
                    this.totalSuccess = 0;
                    for (var i = 0; i < this.numIt * 3; i += 3) {
                        if (this.allConfInt[j].left > this.popProp || this.allConfInt[j].right < this.popProp)
                            backColor = 'red'
                        else {
                            backColor = 'green'
                            this.totalSuccess++
                        }

                        lines.push(
                            {
                                type: 'box',
                                // optional drawTime to control layering, overrides global drawTime setting
                                drawTime: 'beforeDatasetsDraw',
                                // optional annotation ID (must be unique)
                                //  id: 'a-box-1',
                                // ID of the X scale to bind onto
                                xScaleID: 'x-axis-1',
                                // ID of the Y scale to bind onto
                                yScaleID: 'y-axis-1',
                                // Left edge of the box. in units along the x axis
                                xMin: this.allConfInt[j].left,
                                // Right edge of the box
                                xMax: this.allConfInt[j].right,
                                // Top edge of the box in units along the y axis
                                yMax: i + 1,
                                // Bottom edge of the box
                                yMin: i,
                                // Stroke color
                                //  borderColor: 'red',
                                // Stroke width
                                borderWidth: 2,
                                // Fill color
                                backgroundColor: backColor,
                            }
                        );
                        //console.log(j);
                        j++;
                    }
                    let ctx = this.$refs.cigraph;
                    window.myScatter = Chart.Scatter(ctx, {
                        // Creating confidence interval graph
                        data: {},
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        max: 1
                                    }
                                }],
                                yAxes: [{
                                    // do not need y-axis displayed for confidence interval graph
                                    display: false,
                                    ticks: {
                                        beginAtZero: true
                                    }

                                }]
                            },
                            annotation: {
                                annotations: lines,
                            }
                        }
                    }
                    );
                },
            },
            watch: {
                // Here I am limiting the user input for the values they enter
                popProp(val) {
                    // proportion must be between 0 and 1
                    if (val > 1) { this.popProp = 1; }
                    else { this.popProp = Math.abs(val); }
                },
                sampleSize(val) {
                    // sample size must be at least 1
                    if (val < 1) { this.sampleSize = 1; }
                    else { this.sampleSize = Math.round(val); }
                },
                confInt(val) {
                    // confidence interval must be postive and less than 100
                    if (val > 99) { this.confInt = 99; }
                    else { this.confInt = Math.abs(val); }
                },
                numIt(val) {
                    // number of iterations must be a postive integer
                    this.numIt = Math.abs(val)
                    if (val > 10000) { this.numIt = 10000; }
                    else { this.numIt = Math.round(val); }
                }
            }
        });
    </script>
</body>

</html>